#loading-spinner {
    display: none !important;
}

#loading-spinner.loading {
    display: flex !important;
}

#book-table {
    display: flex !important;
}

#book-table.loading {
    display: none !important;
}
