{% load i18n %}


<div id="loading-spinner" class="d-flex justify-content-center" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...
    </div>
</div>

{% include 'partials/pagination.html' %}
<div class="table-responsive" id="book-table">
    <table class="table table-striped border">
        <thead class="table-primary">
            <tr>
                <th scope="col" data-sort="id">#</th>
                <th scope="col" data-sort="author">{% trans "Author" %}</th>
                <th scope="col" data-sort="title">{% trans "Title" %}</th>
                <th scope="col" data-sort="publisher">{% trans "Publisher" %}</th>
                <th scope="col" data-sort="place">{% trans "Place" %}</th>
                <th scope="col" data-sort="year">{% trans "Year" %}</th>
                <th scope="col" data-sort="tag">{% trans "Category" %}</th>
            </tr>
        </thead>
        <tbody id="book-table-body">
        </tbody>
    </table>
</div>
