{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>{% trans "Check if Book Exists" %}</h1>
    <form id="book-search-form" method="post">
        {% csrf_token %}
        <label for="search-field">{% trans "Search" %}</label>
        <input type="text" name="search-field" id="search-field" />
        <button id="search-field-btn" type="submit" style="display: none;">{% trans "Check" %}</button>
    </form>

    <div id="search-results"></div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const searchTextInput = document.querySelector('input[name="search-field"]');
            if (!searchTextInput) {
                console.error("Input field for search-field not found");
                return;
            }

            const resultContainer = document.getElementById('search-results');
            const form = document.getElementById('book-search-form');
            
            searchTextInput.addEventListener('input', function() {
                const searchText = searchTextInput.value.trim();

                if (searchText === '') {
                    resultContainer.innerHTML = '';
                    return;
                }

                const formData = new FormData(form);
                formData.append('search', searchText);

                fetch("{% url 'books:universal-check' %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.exists !== null) {
                        resultContainer.innerHTML = "";

                        const statusText = document.createElement('p');
                        statusText.style.fontWeight = 'bold';
                        statusText.style.color = data.exists ? 'green' : 'red';
                        statusText.textContent = data.exists ? 'Book exists!' : 'Book does not exist.';
                        resultContainer.appendChild(statusText);

                        const bookList = document.createElement('ul');
                        bookList.classList.add('list-unstyled');
                        resultContainer.appendChild(bookList);

                        if (data.exists && data.books) {
                            data.books.forEach(book => {
                                const bookItem = document.createElement('li');
                                const foundText = document.createElement('b');
                                foundText.textContent = book.title;
                                bookItem.appendChild(foundText);
                                bookList.appendChild(bookItem);

                                if (book.authors && book.authors.length > 0) {
                                    const authorField = document.createElement('p')
                                    authorField.textContent =  `Author`
                                    bookItem.appendChild(authorField)
                                    const authorList = document.createElement('ul');
                                    bookItem.appendChild(authorList);

                                    book.authors.forEach(author => {
                                        const authorItem = document.createElement('li');
                                        authorItem.textContent = author;
                                        authorList.appendChild(authorItem);
                                    });
                                }

                                if (book.categories && book.categories.length > 0) {
                                    const categoryField = document.createElement('p')
                                    categoryField.textContent =  `Category`
                                    bookItem.appendChild(categoryField)
                                    const categoryList = document.createElement('ul');
                                    bookItem.appendChild(categoryList);

                                    book.categories.forEach(category => {
                                        const categoryItem = document.createElement('li');
                                        categoryItem.textContent = category;
                                        categoryList.appendChild(categoryItem);
                                    });
                                }

                                if (book.publisher) {
                                    const publisherItem = document.createElement('p');
                                    publisherItem.textContent = `Publisher: ${book.publisher}`;
                                    bookItem.appendChild(publisherItem);
                                }
                            });
                        }
                    }
                })

                .catch(error => {
                    console.error('Error:', error);
                    resultContainer.innerHTML = '<p style="color: red;">An error occurred while checking the book.</p>';
                });
            });
        });
    </script>
{% endblock %}
